/* background */
body {
  /* background-image: url("Pictures\background.jpg"); */
 background-color: rgb(221, 215, 215);
}
/* sticky footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;